footer.footer
    .footer__logo Organic Products
        img(src='/img/logo-green.png' alt='Organic logo')
    ul.footer__nav 
        li: a(href='/aboutCompany') About us
        li: a(href='/contact') Contact
    p.footer__copyright &copy; by Durga sai Gogi | J Revanth | A Yamini | K Rajshekar 