extends base 

block content

    main.main
   
        .EmailImage
            img.emailPic(src=`/img/email.jpg`, alt='email-img')
        .error__msg= msg
    .error
        .error__title
            h2.heading-secondary1.heading-secondary--error1 Contact through this email : organic@gmail.com
            h2.error__emoji 