extends base 

block content

    main.main
    .error
        .error__title
            h2.heading-secondary.heading-secondary--error Buy the product to review the product!
            h2.error__emoji 😢 
        